/* Font Family */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");
/* =========== */

/* === Params === */
html {
  font-size: 100%;
}

section {
  height: 100vh;
}

nav {
  background-color: var(--bg-color-nav);
  height: 5vh;
  border-top: 1px solid gray;
}

h1 {
  font-size: 1.5em;
  font-family: var(--ff-logo);
  display: inline-block;
  text-align: center;
  align-items: center;
}

.text_account {
  padding: 0 0 0.4rem 0;
  font-size: 0.9em;
}

span {
  color: var(--color-prim);
  font-weight: 600;
  font-style: italic;
}

select {
  padding: 0;
  border-width: 0;
  border-style: none;
}

input {
  padding: 0;
  border-width: 0;
  border-style: none;
  border-radius: 9px 0px 0 9px;
}

button {
  padding: 0;
  border-width: 0;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-textWhite);
  font-family: var(--ff-text);
}

.log,
.user {
  padding: 0 1rem 0 0;
}

i {
  margin: 0.3rem 0.3rem;
  display: flex;
}

:root {
  /* Variable font logo*/
  --ff-logo: "Josefin Sans", sans-serif;
  --ff-text: "Poppins", sans-serif;

  /* Color */
  --color-prim: #2196f3;
  --color-light-prim: #64b4f5;
  --color-textWhite: #fff;

  /* Background Color  */
  --bg-color-nav: #353535;
  --bg-color-nav-burger: #525151;
  --bg-color-nav-prod: #6e6e6e;
}
/* ====================== */

/* === HEADER === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: auto;
  background-color: var(--bg-color-nav);
}

.toggle_menu {
  color: var(--color-textWhite);
  display: none; /*mode responsive - replacer en display block - flex*/
}

.container_nav {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.container_nav .block_logo {
  padding: 2rem 0 2rem 0;
  text-transform: uppercase;
}

.block_logo h1 {
  color: var(--color-textWhite);
}

.block_search {
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
}

.block_search select {
  height: 2.525rem;
  border-right: 1px solid gray;
  border-radius: 5px 0 0 5px;
}

.block_search input {
  height: 2.525rem;
  width: 100%;
  text-align: center;
  font-size: 1em;
}

.block_search .loop {
  background-color: var(--color-prim);
  height: 2.525rem;
  width: 9%;
  padding: 0 1rem 0 1rem;
  border-radius: 0 5px 5px 0;
  color: var(--color-textWhite);
  display: none; /*mode responsive replacer en display block - flex*/
}

.block_search button {
  background-color: var(--color-prim);
  height: 2.525rem;
  padding: 0 2rem 0 2rem;
  border-radius: 0 5px 5px 0;
  color: var(--color-textWhite);
  font-weight: 800;
  font-family: var(--ff-text);
  text-transform: uppercase;
}

.block_account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 22%;
}

.user,
.log,
.cart {
  display: flex;
}

.cart {
  position: relative;
}

a:hover > i {
  color: var(--color-prim);
}

.item_number {
  position: absolute;
  top: -60%;
  left: -15%;
  color: var(--color-textWhite);
}

nav {
  display: flex;
  justify-content: flex-start;
}

.block_nav {
  background-color: var(--color-prim);
  width: 21%;
  height: auto;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: var(--color-textWhite);
  cursor: pointer;
  padding: 1.1rem;
  margin: 0 0 0 2rem;
}

.block_nav .fa-bars-staggered {
  background-color: var(--color-light-prim);
  display: flex;
  justify-content: space-around;

  border-radius: 50%;
  padding: 0.6rem;
}

.block_nav p {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding-left: 1rem;
}

.block_link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  color: var(--color-textWhite);
  text-align: center;
  width: 50%;
}

.block_link a {
  font-weight: 500;
}

.prod {
  height: 100vh;
}
/* Section Produit et new article */

.container {
  height: 100vh; 
  
}

.produit {
  height: 96.3vh;
  background-color: var(--bg-color-nav-prod);
  width: 21%;
 
  /* padding: 1rem 0; */
  transition: all 0.75s;
  margin: 0rem 0 0 2rem;
  display: none;
  transition: all 0.75s;
 
}

.produit ul li  {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 7vh;
  border-bottom: 1px solid gray;
  transition: all 0.75s;
}

  .produit.menu_produit{
 display: block;
 margin-top: 2rem;

}

